<div class="flex w-full">
  <!-- Empty space for the left half -->
  <div class="w-1/2"></div>

  <!-- Side menu on the right half -->
  <div class="w-1/2 flex flex-col h-screen p-4">
    <!-- Fixed header -->
    <div>
      <h2 class="text-xl font-bold mb-4 text-green-600">Geekle AI Demo</h2>
      <component-search [sections]="sections()" class="mb-4 block" />
    </div>

    <!-- Scrollable content -->
    <div class="flex-1 overflow-y-auto">
      @if (!!menuItems()) {
        <ul class="space-y-2">
          @for (item of menuItems(); track item.name) {
            <li>
              <div
                (click)="selectMenuItem(item)"
                class="flex items-center p-2 hover:bg-gray-200 rounded transition-colors duration-200 ease-in-out cursor-pointer"
                [ngClass]="{'bg-gray-200': isItemHighlighted(item)}"
              >
                @if (item.children) {
                  <span class="mr-2 transition-transform duration-200 ease-in-out text-gray-500 w-4 h-4 inline-flex items-center justify-center"
                        [ngClass]="{'transform rotate-90': item.expanded}">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="16"
                         height="16"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="currentColor"
                         stroke-width="2"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         class="svg-icon right-triangle">
                      <path d="M9 18l6-6-6-6"></path>
                    </svg>
                  </span>
                }
                <span class="font-semibold text-sm text-gray-800 flex-grow">
                  {{ item.name }}
                  <ng-template [ngTemplateOutlet]="approved" [ngTemplateOutletContext]="{menuItem: item}" />

                </span>
              </div>
              @if (item.children) {
                <ul
                  class="mt-2 ml-4 space-y-1 overflow-hidden transition-all duration-200 ease-in-out border-l-2 border-gray-200"
                  [ngClass]="{'max-h-0 border-l-0': !item.expanded, 'max-h-[1000px]': item.expanded}"
                >
                  @for (child of item.children; track child.name) {
                    <li
                      (click)="selectMenuItem(child)"
                      class="p-2 hover:bg-gray-200 transition-colors duration-200 ease-in-out cursor-pointer text-sm font-normal border-l-4 text-gray-500"
                      [ngClass]="{
                        'bg-gray-200 border-green-600': isItemHighlighted(child),
                        'border-transparent': !isItemHighlighted(child)
                      }"
                    >
                      {{ child.name }}
                      <ng-template [ngTemplateOutlet]="approved" [ngTemplateOutletContext]="{menuItem: child}" />
                    </li>
                  }
                </ul>
              }
            </li>
          }
        </ul>
      } @else {
        <div class="inline-flex items-center justify-center">
          <div class="animate-spin h-5 w-5 mr-3 border-t-2 border-b-2 border-green-600 rounded-full"></div>
          <span>Loading sections...</span>
        </div>
      }
    </div>
  </div>
</div>

<ng-template #approved let-menuItem="menuItem">
  @if (menuItem.isReviewed != null) {
    @if (menuItem.isReviewed) {
      <span class="text-green-500 ml-1"
            title="Approved by {{menuItem.reviewedBy}} on {{(menuItem.reviewedDate | date:'medium')}}">
        <fa-icon [icon]="['fas', 'check']"></fa-icon>
      </span>
    } @else {
      <span class="text-gray-400 ml-1">
        <fa-icon [icon]="['fas', 'check']"></fa-icon>
      </span>
    }
  }
</ng-template>
