<div class="flex w-full">
  <!-- Empty space for the left half -->
  <div class="w-1/2"></div>

  <!-- Side menu on the right half -->
  <div class="w-1/2 flex flex-col h-screen p-4">
    <!-- Fixed header -->
    <div>
      <h2 class="text-xl font-bold mb-4">Geekle AI Demo</h2>
      <component-search class="mb-4 block" />
    </div>

    <!-- Scrollable content -->
    <div class="flex-1 overflow-y-auto">
      @if (!!menuItems()) {
        <ul class="space-y-2">
          @for (item of menuItems(); track item.name) {
            <li>
              <div
                (click)="selectMenuItem(item)"
                class="flex justify-between items-center p-2 hover:bg-gray-200 rounded transition-colors duration-200 ease-in-out cursor-pointer"
                [ngClass]="{'bg-gray-200': isItemHighlighted(item)}"
              >
                <span>{{ item.name }}</span>
                @if (item.children) {
                  <span class="text-sm transition-transform duration-200 ease-in-out"
                        [ngClass]="{'transform rotate-180': item.expanded}">
                    ▼
                  </span>
                }
              </div>
              @if (item.children) {
                <ul
                  class="mt-2 ml-4 space-y-1 overflow-hidden transition-all duration-200 ease-in-out"
                  [ngClass]="{'max-h-0': !item.expanded, 'max-h-[1000px]': item.expanded}"
                >
                  @for (child of item.children; track child.name) {
                    <li
                      (click)="selectMenuItem(child)"
                      class="p-2 hover:bg-gray-200 rounded transition-colors duration-200 ease-in-out cursor-pointer"
                      [ngClass]="{'bg-gray-200': isItemHighlighted(child)}">
                      {{ child.name }}
                    </li>
                  }
                </ul>
              }
            </li>
          }
        </ul>
      } @else {
        <div class="inline-flex items-center justify-center">
          <div class="animate-spin h-5 w-5 mr-3 border-t-2 border-b-2 border-gray-900 rounded-full inline-block"></div>
          <span>Loading sections...</span>
        </div>
      }
    </div>
  </div>
</div>
