<h2 class="text-xl font-bold mb-4">Demo Sections</h2>
<component-search class="mb-4 block" />
<ul class="space-y-2">
  @for (item of menuItems; track item.id) {
    <li>
      <div
        (click)="toggleExpand(item)"
        class="flex justify-between items-center p-2 hover:bg-gray-200 rounded transition-colors duration-200 ease-in-out cursor-pointer"
      >
        <span>{{ item.name }}</span>
        @if (item.children) {
          <span class="text-sm transition-transform duration-200 ease-in-out"
                [ngClass]="{'transform rotate-180': item.expanded}">
            ▼
          </span>
        }

      </div>
      @if (item.children) {
        <ul
          class="mt-2 ml-4 space-y-1 overflow-hidden transition-all duration-200 ease-in-out"
          [ngClass]="{'max-h-0': !item.expanded, 'max-h-40': item.expanded}"
        >
          @for (child of item.children; track child.id) {
            <li
              class="p-2 hover:bg-gray-200 rounded transition-colors duration-200 ease-in-out cursor-pointer">
              {{ child.name }}
            </li>
          }
        </ul>
      }
    </li>
  }
</ul>
